.table-responsive {
    height: calc(100vh - 235px);
}

p {
    margin: 0px;
    padding: 0px;
    white-space: pre-wrap;
}
label {
    font-weight: 501;
    margin-bottom: 0px;
    font-size: 14px;
}

.status-btn {
    width: 80px;
}
