<div class="signin-container">
    <div class="signin-section">
        <div class="signin-inner">
            <div class="signin-heading">
                <div class="img-wrapper"><img src="/assets/images/check.png" alt=""></div>
                <h1 class="title">Payment Successful</h1>
                <p class="title-desc">Thank You! Your Payment is Complete</p>
                <p class="title-desc">Your Payment amount is <strong>{{ this.paymentData?.amount | currency}}</strong></p>
            </div>
        </div>
    </div>
</div>
