<h1 class="title">{{lang.title}}</h1>
<app-breadcrums [data]="breadCrum"></app-breadcrums>

<div class="">
    <div class="row">
        <div class="col">
            <label>{{lang.head}}</label>
            <input type="text" class="form-control" [(ngModel)]="searchKeyword"
                (ngModelChange)="searchKeywordChange($event)" placeholder={{lang.palceHolder}} />
        </div>
        <div class="col-md-3 cg-input-group">
            <label>{{lang.category}}</label>
            <select class="cg" [(ngModel)]="filters.category_id" >
            <option value= null [disabled]="true">{{lang.placeCate}}</option>
            <option value="">{{ lang.all }}</option>
            <option *ngFor="let ct of categoryList" [value]="ct._id">
                <p *ngIf="ts.currentLang === 'al'">{{ct.nameAL}}</p>
                <p *ngIf="ts.currentLang === 'en'">{{ct.nameEN}}</p>
                <p *ngIf="ts.currentLang === 'gr'">{{ct.nameEL}}</p>
                <p *ngIf="ts.currentLang === 'bg'">{{ct.nameBG}}</p>
                <p *ngIf="ts.currentLang === 'mk'">{{ct.nameMK}}</p>
        </select>
        </div>
        <div class="col d-flex justify-content-between align-items-end">
            <div class="btn-group" dropdown>
                <button [disabled]="waiting.search" [ngClass]="waiting.search ? 'in-progress' : ''" type="button"
                    class="secondary" (click)="filters.page = 1; search()">
                    {{lang.search}}
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th>{{lang.name}}</th>
                <th>{{lang.email}}</th>
                <th>{{lang.phoneNo}}</th>
                <th>{{lang.category}}</th>
            </tr>
        </thead>
        <tbody *ngIf="dataStatus === 'fetching'" [appSkeletonTabelLoader]="loaderOptions"></tbody>
        <tbody *ngIf="usersList.length > 0">
            <tr *ngFor="let d of usersList ; let i = index">
                <td>{{ d.name }}</td>
                <td><p *ngIf="d.email">{{ d.email }}</p></td>
                <td>{{d.phoneNo}}</td>
                <td *ngIf="ts.currentLang === 'al'">{{ d.category.nameAL }}</td>
                <td *ngIf="ts.currentLang === 'en'">{{ d.category.nameEN }}</td>
                <td *ngIf="ts.currentLang === 'gr'">{{ d.category.nameEL }}</td>
                <td *ngIf="ts.currentLang === 'bg'">{{ d.category.nameBG }}</td>
                <td *ngIf="ts.currentLang === 'mk'">{{ d.category.nameMK }}</td>
            </tr>
        </tbody>
        <tbody *ngIf="dataStatus === 'done' && usersList.length === 0">
            <tr>
                <td colspan="4">
                    <app-no-data-found></app-no-data-found>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <app-ipagination [pagination]="pagination" [activePage]="filters.page" (pageChangeEvent)="setPagination($event)" *ngIf="dataStatus === 'done'"></app-ipagination> -->
