<div class="signin-container">

    <div class="signin-box">
        <div class="logo-container">
            <img class="logo" src="assets/images/logo.png" alt="">
        </div>

        <ng-container>
            <h4 class="text-center setP">{{lang.resetPassword}}</h4>
            <form *ngIf="codeStatus ==='valid'" [formGroup]="resetPassForm" (ngSubmit)="proceedResetPass(resetPassForm, f)" #f="ngForm">
                <input type="hidden" formControlName="code">
                <div class="row input-container">
                    <div class="col-md-12 form-inputs">
                        <label class="lab">{{lang.Password}}</label>
                        <input type="password" class="form-control" formControlName="newPassword" aria-describedby="emailHelp" placeholder="{{lang.passPlaceholder}}" [ngClass]="{'form-submitted': f.submitted}">
                        <div *ngIf="ui.checkErrors(g.newPassword, f)" class="errors">
                            <p *ngIf="g.newPassword.errors?.required">{{lang.passReq}}</p>
                        </div>
                    </div>
                    <div class="col-md-12 form-inputs" style="margin-top:10px;">
                        <label class="lab">{{lang.confirmPassword}}</label>
                        <input type="password" class="form-control" formControlName="newPasswordConfirmation" aria-describedby="emailHelp" placeholder="{{lang.cpassPlaceholder}}" [ngClass]="{'form-submitted': f.submitted}">
                        <div *ngIf="ui.checkErrors(g.newPasswordConfirmation, f)" class="errors">
                            <p *ngIf="g.newPasswordConfirmation.errors?.required">{{lang.cpassReq}}</p>
                        </div>
                    </div>
                </div>

                <div class="login-btn-container text-center">
                    <button [disabled]="loadingStatus" class="login" [ngClass]="loadingStatus?'in-progress':''">
                        {{lang.submit}}
                        <div class="loading-dots">
                            <span></span><span></span><span></span>
                        </div>
                    </button>
                </div>
            </form>
        </ng-container>
        <ng-container *ngIf="codeStatus === 'expire'">
            <div class="top-bar">
                <p class="text-center"></p>
            </div>
            <div class="successfully-registered">
                <h1>{{lang.codeExpire}}</h1>
                <a [routerLink]="['/forgot-password']">Click here</a>  to resend code
            </div>
        </ng-container>
    </div>
</div>