<h1 class="title">Contact Categories</h1>
<app-breadcrums [data]="breadCrum"></app-breadcrums>

<div class="">
    <div class="row">
        <div class="col">
            <label>Title</label>
            <!-- <input type="text" class="form-control" [(ngModel)]="filters.name" placeholder="Enter keyword to Search" /> -->
            <input type="text" class="form-control" [(ngModel)]="searchKeyword"
                (ngModelChange)="searchKeywordChange($event)" placeholder="Enter Title to Search" />
        </div>
        <div class="col d-flex justify-content-between align-items-end">
            <div class="btn-group" dropdown>
                <button [disabled]="waiting.search" [ngClass]="waiting.search ? 'in-progress' : ''" type="button"
                    class="secondary" (click)="filters.page = 1; search()">
                    Search
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>

            <button type="button" class="secondary" (click)="openModal(addContact,-1)">Add New Category</button>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>Name EN</th>
                    <th>Name AL</th>
                    <th>Name EL</th>
                    <th>Name BG</th>
                    <th>Name MK</th>
                    <th>Color</th>
                    <th>Status</th>
                    <th class="text-center" style="width: 250px;">Action</th>
                </tr>
            </thead>
            <tbody *ngIf="dataStatus === 'fetching'" [appSkeletonTabelLoader]="loaderOptions"></tbody>
            <tbody *ngIf="categorysList.length > 0">
                <tr *ngFor="let d of categorysList ; let i = index">
                    <td>{{ d.nameEN }}</td>
                    <td>{{ d.nameAL }}</td>
                    <td>{{ d.nameEL }}</td>
                    <td>{{ d.nameBG }}</td>
                    <td>{{ d.nameMK }}</td>
                    <td>
                        <div class="color-block" [style.background-color]="d.color"></div>
                    <td>
                        <div *ngIf="d.status === 'inactive'" class="i-badge sm warning">inactive</div>
                        <div *ngIf="d.status === 'active'" class="i-badge sm success">active</div>

                    </td>
                    <td class="d-flex justify-content-center align-items-center">
                        <div class="pl-1">
                            <button class="sm info" type="button" (click)="openModal(addContact,i)">
                                <i class="fa fa-edit"></i>
                            </button>
                        </div>
                        <div class="pl-1" *ngIf="!d?.defaultCategory">
                            <button class="danger sm" type="button" (click)="confirmDelModal(confirmDel,i)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <div class="pl-1">
                            <button *ngIf="d.status == 'inactive'" type="button" class=" status-btn success "
                                (click)="statusConfirmingModal(changeStatusActive,d._id,i,'active')"
                                style="width: 110px;">Activate</button>
                        </div>
                        <div class="pl-1">
                            <button *ngIf="d.status == 'active'" type="button" class=" status-btn danger"
                                (click)="statusConfirmingModal(changeStatusDeactive,d._id,i,'inactive')"
                                style="width: 110px;">Deactivate</button>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="dataStatus === 'done' && categorysList.length === 0">
                <tr>
                    <td colspan="5">
                        <app-no-data-found></app-no-data-found>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- <app-ipagination [pagination]="pagination" [activePage]="filters.page" (pageChangeEvent)="setPagination($event)" *ngIf="dataStatus === 'done'"></app-ipagination> -->
</div>

<ng-template #addContact>
    <div class="modal-header">
        <h4 class="modal-firstName pull-left">{{ modalTitle }}</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="categoryForm" (ngSubmit)="save(f)" #f="ngForm">
            <div class="row">
                <div class="col-md-6 mb-2">
                    <label class="mb-0">Name EN <span class="mendatory">*</span></label>
                    <input type="text" formControlName="nameEN" class="form-control mt-0" placeholder="Enter Name "
                        [ngClass]="{ 'form-submitted': f.submitted }" />
                    <div *ngIf="ui.checkErrors(g.nameEN, f)" class="errors">
                        <p *ngIf="g.nameEN.errors?.required">Name EN is required</p>
                    </div>
                </div>

                <div class="col-md-6 mb-2">
                    <label class="mb-0">Name AL <span class="mendatory">*</span></label>
                    <input type="text" formControlName="nameAL" class="form-control mt-0" placeholder="Enter Name"
                        [ngClass]="{ 'form-submitted': f.submitted }" />
                    <div *ngIf="ui.checkErrors(g.nameAL, f)" class="errors">
                        <p *ngIf="g.nameAL.errors?.required">Name AL is required</p>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <label class="mb-0">Name EL <span class="mendatory">*</span></label>
                    <input type="text" formControlName="nameEL" class="form-control mt-0" placeholder="Enter Name"
                        [ngClass]="{ 'form-submitted': f.submitted }" />
                    <div *ngIf="ui.checkErrors(g.nameEL, f)" class="errors">
                        <p *ngIf="g.nameEL.errors?.required">Name EL is required</p>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <label class="mb-0">Name BG <span class="mendatory">*</span></label>
                    <input type="text" formControlName="nameBG" class="form-control mt-0" placeholder="Enter Name"
                        [ngClass]="{ 'form-submitted': f.submitted }" />
                    <div *ngIf="ui.checkErrors(g.nameBG, f)" class="errors">
                        <p *ngIf="g.nameBG.errors?.required">Name BG is required</p>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <label class="mb-0">Name MK <span class="mendatory">*</span></label>
                    <input type="text" formControlName="nameMK" class="form-control mt-0" placeholder="Enter Name"
                        [ngClass]="{ 'form-submitted': f.submitted }" />
                    <div *ngIf="ui.checkErrors(g.nameMK, f)" class="errors">
                        <p *ngIf="g.nameMK.errors?.required">Name MK is required</p>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <label class="mb-0">Color <span class="mendatory">*</span></label>
                    <ngx-colors ngx-colors-trigger [(ngModel)]="color" [ngModelOptions]="{ standalone: true }">
                    </ngx-colors>
                </div>
                <div class="col-md-6 mb-2 mt-2" *ngIf="this.categoryForm.controls.defaultCategory.value">
                    <div class="form_group">
                        <div class="checkbox-container text-right">
                            <label class="checkbox primary">
                                <input type="checkbox" formControlName="defaultCategory" [readonly]="true">
                                <span class="checkmark"></span>
                            </label>
                            <span class="text">Set as Default</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-2 mt-2" *ngIf="this.categoryForm.controls.defaultCategory.value !== true">
                    <div class="form_group">
                        <div class="checkbox-container text-right">
                            <label class="checkbox primary">
                                <input type="checkbox" formControlName="defaultCategory">
                                <span class="checkmark"></span>
                            </label>
                            <span class="text">Set as Default</span>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="primary" [disabled]="waiting.save" [ngClass]="{ 'in-progress': waiting.save }">
                Save
                <span></span>
                <span></span>
                <span></span>
            </button>
            <button type="button" class=" warning ml-1" (click)="cancelButton(f)">Cancel</button>
        </form>
    </div>
</ng-template>

<ng-template #confirmDel>
    <div class="modal-body text-center">
        <h4>Do you want to Delete?</h4>
        <button type="button" class="danger " (click)="modalRef.hide()">No</button>
        <button [disabled]="waiting.save" [ngClass]="{ 'in-progress': waiting.save }" type="button" class="primary ml-1"
            (click)="delete()">
            Yes
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</ng-template>


<ng-template #changeStatusActive>
    <div class="modal-body text-center">
        <h2 class="primary">Confirmation</h2>
        <h4>Are you sure that you want change the status to active?</h4>
        <button type="button" class="danger sm " (click)="modalRef.hide()">No</button>
        <button type="button" class=" primary sm ml-1" (click)="changeStatusAct()"
            [disabled]="waiting.userStatus[this.selectedIndex]"
            [ngClass]="waiting.userStatus[this.selectedIndex]?'in-progress':''">
            <div class="loading-dots">Yes
                <span></span><span></span><span></span>
            </div>
        </button>
    </div>
</ng-template>
<ng-template #changeStatusDeactive>
    <div class="modal-body text-center">
        <h2 class="primary">Confirmation</h2>
        <h4>Are you sure that you want change the status to inactive?</h4>
        <button type="button" class=" danger sm btn-mr" (click)="modalRef.hide()">No</button>
        <button type="button" class=" primary sm ml-1" (click)="changeStatusInact()"
            [disabled]="waiting.userStatus[this.selectedIndex]"
            [ngClass]="waiting.userStatus[this.selectedIndex]?'in-progress':''">
            <div class="loading-dots">Yes
                <span></span><span></span><span></span>
            </div>
        </button>
    </div>
</ng-template>
