<div class="signin-container">

    <div class="signin-section">
        <div class="signin-inner">
            <div class="signin-heading">
                <h1 class="title">{{lang.success}}</h1>
                <p class="title-desc">{{lang.registredSuccess}}</p>
                <p class="title-desc">{{lang.codeSend}}</p>
            </div>
            <div class="success_img"><img src="/assets/images/success-message.png" class="img-fluid" alt=""></div>
            <div class="btn_wrapper mt-3">
                <a routerLink="/" class="btn login">{{lang.goToHome}}</a>
            </div>
        </div>
    </div>
</div>