.table-responsive {
    height: calc(100vh - 235px);
}
button.close.pull-right {
    padding: 18px 20px;
    color: #000;
}
h1.user-detail-heading {
    font-size: 14px;
}
.hero-section-content #map {
}
.new {
    background-color: #FF4D48;
}
.new td {
    color: #fff;
}
.new td p{
    color:#fff;
}
.new:hover {
    background-color: #FF4D48;
}
#map {
    height: 50.2vh;
  }
  td p {
    margin-bottom: 0;
}

div p {
    color: var(--ap-label);
}
