<main>
    <section class="register_holder">
        <div class="container">
            <div class="register_form login_form">
                <h2 class="primary mb-2 text-center">{{lang.ChangePassword}}</h2>
                <div class="alert alert-danger" role="alert" *ngIf="registrationError">{{lang.OldPasswordnotMatched}}</div>
                &nbsp;
                <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm)" #f="ngForm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="password" class="form-control" formControlName="old_password" placeholder="{{lang.OldPassword}}" />
                                <div *ngIf="ui.checkErrors(g.old_password, f)" class="errors">
                                    <p *ngIf="g.old_password.errors?.required">{{lang.OldPasswordRequired}}</p>
                                </div>
                            </div>
                        </div>
                        &nbsp;
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="password" class="form-control" formControlName="password" placeholder="{{lang.NewPassword}}" />
                                <div *ngIf="ui.checkErrors(g.password, f)" class="errors">
                                    <p *ngIf="g.password.errors?.required">{{lang.NewPasswordRequired}}</p>
                                </div>
                            </div>
                        </div>
                        &nbsp;
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="password" class="form-control" formControlName="confirmation_password" placeholder="{{lang.ConfirmPassword}}" />
                                <div *ngIf="ui.checkErrors(g.confirmation_password, f)" class="errors">
                                    <p *ngIf="g.confirmation_password.errors?.required">{{lang.ConfirmNewPassword}}</p>
                                </div>
                            </div>
                        </div>
                        &nbsp;
                        <div class="col-md-12">
                            <button type="submit" class="fullwidth_btn primary">{{lang.ChangePassword}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
