.back-office-panel {
    --ap-primary: #00235e;
    --ap-secondary: #00235e;
    --ap-dark: #00235e;
    --ap-light: #00235e;
    --ap-background: #f3f8ff;
    --ap-success: #009234;
    --ap-danger: #d51c28;
    --ap-warning: #e6a000;
    --ap-info: #0485a2;
}

.website {
    --ap-primary: #00235e;
    --ap-secondary: #00235e;
    --ap-dark: #00235e;
    --ap-light: #00235e;
    --ap-background: #f3f8ff;
    --ap-success: #009234;
    --ap-danger: #d51c28;
    --ap-warning: #e6a000;
    --ap-info: #0485a2;
}
