<section class="hero-container">
    <div class="hero-content">
        <div class="hero-content-inner">
            <div class="star-img-wrapper">
                <img src="" alt="" />
                <img src="assets/images/star.png" alt="Star" />
            </div>
            <h1>Schedule</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi facere iure aperiam odit expedita maiores libero dignissimos laudantium sit vel repellat eligendi fugit, optio, aspernatur repellendus vitae. Nobis tenetur exercitationem provident molestiae, aut perferendis minima laborum possimus nihil.</p>
        </div>
        <div class="down-img-wrapper"><i class="fas fa-chevron-down"></i></div>
    </div>
</section>

<section class="request-container">
    <div class="request-content">
        <div class="request-head">
            <h1>Request A Class</h1>
            <p>Select your desired class at desired time and we will review your selection and get back to you.</p>
        </div>
        <div class="request-body">
            <div class="rb-upper-content">
                <div class="rbu-columbus active">
                    <h4>Columbus</h4>
                </div>
                <div class="rbu-fort-benning">
                    <h4>Fort Benning</h4>
                </div>
            </div>
            <div class="rb-lower-content">
                <div class="table-container">
                    <div class="table-horizontal-container">
                        <table class="unfixed-table">
                            <thead>
                                <tr>
                                    <th>Start Time</th>
                                    <th>Monday</th>
                                    <th>Tuesday</th>
                                    <th>Wednesday</th>
                                    <th>Thursday</th>
                                    <th>Friday</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>04:00 PM</th>
                                    <td>
                                        <div class="inactive">
                                            <p>Class Type A</p>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="inactive">
                                            <p>Class Type A</p>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>04:30 PM</th>
                                    <td></td>
                                    <td>
                                        <div class="inactive">
                                            <p>Class Type A</p>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="inactive">
                                            <p>Class Type A</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>05:00 PM</th>
                                    <td></td>
                                    <td>
                                        <div class="active">
                                            <p>Class Type A</p>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td>
                                        <div class="inactive">
                                            <p>Class Type A</p>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>05:30 PM</th>
                                    <td>
                                        <div class="inactive">
                                            <p>Class Type A</p>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>06:00 PM</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="inactive">
                                            <p>Class Type A</p>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>06:30 PM</th>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="inactive">
                                            <p>Class Type A</p>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td>
                                        <div class="inactive">
                                            <p>Class Type A</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="social-container">
    <div class="social-content">
        <div class="social">
            <div class="social-img-wrapper-contact">
                <img src="assets/images/social-icons/contact-gray.png" alt="" />
            </div>
            <p>+1 123 456 2334</p>
        </div>
        <div class="social">
            <div class="social-img-wrapper-email">
                <img src="assets/images/social-icons/email-gray.png" alt="" />
            </div>
            <p>info@unitedcheerleeding.com</p>
        </div>
        <div class="social">
            <div class="social-img-wrapper-addres">
                <img src="assets/images/social-icons/addres-gray.png" alt="" />
            </div>
            <p>California, USA</p>
        </div>
    </div>
</section>
