<section class="why_choose_us">
    <div class="container">
        <div class="why_choose_us_block">
            <div class="row">
                <div class="col-md-12">
                    <div class="why_choose_us_content">
                        <h2 class="heading">{{lang.privacy}}</h2>
                        <div class="ql-container ql-snow" style="border-width: 0;">
                            <div class="ql-editor" >A Privacy Policy is a statement or a legal document that states how a company or website collects, handles and processes data of its customers and visitors. It explicitly describes whether that information is kept confidential, or is shared with or sold to third parties.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
