<div class="signin-container">
    <div class="signin-box col-lg-4 col-md-6 col-10">
        <div class="logo-container">
            <img class="logo" src="assets/images/logo.png" alt="">
        </div>
        <ng-container *ngIf="formSuccess === false">
            <h4 class="text-center setP">{{lang.forgotPass}}</h4>
            <div class="alert alert-danger" role="alert" *ngIf="forgotError">{{forgotError}}</div>
            <form #forgotForm="ngForm" (ngSubmit)="forgotPassword(forgotForm.form)">
                <div class="row input-container">
                    <div class="col-md-12 form-inputs">
                        <label class="lab">{{lang.email}}</label>
                        <input type="email" class="fadeIn" ngModel name="email" required placeholder="{{lang.email}}">
                        <div *ngIf="forgotForm.touched && forgotForm.controls['email'].invalid" style="font-weight: bold; color:red;">{{lang.invalidEmail}}</div>
                    </div>

                </div>
                <div class="login-btn-container text-center">
                    <button [disabled]="loginLoading" class="login" [ngClass]="loadingStatus?'in-progress':''">{{lang.submit}}
                        <div class="loading-dots">
                            <span></span><span></span><span></span>
                        </div>
                    </button>
                </div>
            </form>
        </ng-container>
        <ng-container *ngIf="formSuccess === true">
            <div class="contact-us-success">
                <h4 class="text-center setP">{{lang.successfully}}</h4>
                <p>{{lang.passlinksuccess}}</p>
            </div>
        </ng-container>
    </div>

</div>