<main>
    <section class="register_holder">
        <div class="container">
            <div class="register_form login_form">
                <h2 class="primary mb-2 text-center">Change Password</h2>
                <div class="alert alert-danger" role="alert" *ngIf="registrationError">Old Password not Matched...</div>
                &nbsp;
                <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm)" #f="ngForm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="password" class="form-control" formControlName="old_password" placeholder="Old Password" />
                                <div *ngIf="ui.checkErrors(g.old_password, f)" class="errors">
                                    <p *ngIf="g.old_password.errors?.required">Old Password Required</p>
                                </div>
                            </div>
                        </div>
                        &nbsp;
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="password" class="form-control" formControlName="new_password" placeholder="New Password" />
                                <div *ngIf="ui.checkErrors(g.new_password, f)" class="errors">
                                    <p *ngIf="g.new_password.errors?.required">New Password Required</p>
                                </div>
                            </div>
                        </div>
                        &nbsp;
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="password" class="form-control" formControlName="new_password_confirmation" placeholder="Confirm Password" />
                                <div *ngIf="ui.checkErrors(g.new_password_confirmation, f)" class="errors">
                                    <p *ngIf="g.new_password_confirmation.errors?.required">Confirm New Password</p>
                                </div>
                            </div>
                        </div>
                        &nbsp;
                        <div class="col-md-12">
                            <button type="submit" class="fullwidth_btn primary">Change Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
