.register_holder {
    padding: 0;
}
.register_form {
    position: relative;
    background: var(--ap-table);
    border-radius: 10px;
    padding: 40px 30px 28px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); */
}

.login_form {
    max-width: 450px;
    margin: 0 auto;
    height: calc(100vh - 130px);
    overflow: auto;
}
/* .register_form input[type="text"],
.register_form input[type="password"] {
    width: 100%;
    border: 1px solid #e0e0db;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
} */
/* .register_form input[type="submit"] {
    width: 100%;
    margin: 0;
    background-color: #eac435;
    font-weight: 600;
    color: #484848;
    font-size: 16px;
    padding: 6px 30px;
    text-transform: uppercase;
    border-radius: 7px;
    border: none;
    height: 45px;
} */
/* .primary_btn {
    width: 100%;
    max-width: 200px;
    background: #3a6f7c;
    border: 1px solid #3a6f7c;
    color: #fff9f9;
    border-radius: 10px;
    font-weight: 600;
    padding: 10px 0;
    display: block;
    margin: 0 auto;
} */

.fullwidth_btn {
    width: 100%;
    /* max-width: 200px; */
    max-width: 100%;
    border-radius: 10px;
    font-weight: 600;
    padding: 10px 0;
    display: block;
    margin: 0 auto;
}
@media only screen and (max-width: 425px) {
    .register_form {
        padding: 40px 16px;
    }
    .form-group {
        margin-bottom: 0rem;
    }
}
