.signin-container {
    height: calc(100vh - 65px);

    /* background: url(/assets/images/O7KlZIGA.png) no-repeat; */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ap-secondary);
}

.signin-box {
    background-color: #eee;
    padding: 3%;
    border-radius: 10px;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 120px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}
.button-container button {
    padding: 6px 12px;
}
.facebook-btn {
    background-color: #3b5998;
    color: #fff;
    margin-right: 6px;
}
.google-btn {
    background-color: #dd4b39;
    color: white;
}
input {
    padding: 10px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
}
.input-container {
    margin-bottom: 20px;
}
.email {
}
.password {
    margin-top: 20px;
}
.login-btn-container {
    margin-bottom: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-container a {
    color: #31708f;
    cursor: pointer;
}

.setP {
    color: #084887;
    padding: 15px;
}

.lab {
    color: #084887;
    /* padding-bottom: 10px; */
    font-size: 15px;
    font-weight: bold;
}
.submit {
    width: 100%;
    margin: 0;
    background-color: #eac435;
    color: #484848;
    font-weight: 300;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.title {
    color: #c8263d;
    font-size: 30px;
    margin: 0 0 5px 0;
}

input.form-control {
    height: 48px;
    border-radius: 6px;
    background-color: #fff !important;
    font-size: 0.9rem;
}
input.form-control:focus {
    box-shadow: none;
    outline: none;
    border: 2px solid #c8263d;
}
button {
    outline: none !important;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    padding: 5px 10px;
}
.in-progress {
    align-items: center;
}
button.lg {
    padding: 8px 15px;
    font-size: 16px;
    font-family: inherit;
}
.btn-wrapper {
    display: flex;
    justify-content: center;
}
.btn-wrapper button {
    background: var(--ap-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.successs {
    color: var(--ap-primary);
}
