<div class="signin-container">
    <div class="signin-box">
        <div class="logo-container">
            <img class="logo" src="assets/images/logo.png" alt="" />
        </div>

        <ng-container *ngIf="codeStatus === 'valid'">
            <h4 class="text-center title">Set Password</h4>
            <form [formGroup]="dataForm" (ngSubmit)="submit(f)" #f="ngForm">
                <div class="row input-container">
                    <div class="col-md-12 form-inputs">
                        <label>Password</label>
                        <input type="password" class="password form-control mt-0" formControlName="password" class="email" placeholder="Enter Password" [ngClass]="{ 'form-submitted': f.submitted }" />
                        <div *ngIf="ui.checkErrors(g.password, f)" class="errors">
                            <p *ngIf="g.password.errors?.required">Password is required</p>
                        </div>
                    </div>
                    <div class="col-md-12 form-inputs" style="margin-top: 10px">
                        <label>Confirm Password</label>
                        <input type="password" class="password form-control mt-0" formControlName="passwordConfirmation" placeholder="Enter Confirm Password" [ngClass]="{ 'form-submitted': f.submitted }" />
                        <div *ngIf="ui.checkErrors(g.passwordConfirmation, f)" class="errors">
                            <p *ngIf="g.passwordConfirmation.errors?.required">Confirm Password is required</p>
                        </div>
                    </div>
                </div>
                <div class="login-btn-container text-center">
                    <button [disabled]="loginLoading" class="submit" [ngClass]="loginLoading ? 'in-progress' : ''">
                        Submit
                        <div class="loading-dots"><span></span><span></span><span></span></div>
                    </button>
                </div>
            </form>
        </ng-container>
        <ng-container *ngIf="codeStatus === 'expire'">
            <div class="top-bar">
                <h2 class="text-center title">Verification Status</h2>
            </div>
            <div class="successfully-registered">
                <h3 class="text-center successs">Your Code is Expired or Not Valid</h3>
                <div class="text-center btn-wrapper">
                    <button class="primary lg" (click)="sendCodeAgainModal(sendCodeAgainTemplete)">Send Code Again</button>
                    <!-- <button [disabled]="loginLoading" (click)="sendCodeAgain()" class="primary lg" [ngClass]="loginLoading ? 'in-progress' : ''">
                        Send Code Again
                        <div class="loading-dots"><span></span><span></span><span></span></div>
                    </button> -->
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="codeStatus === 'sent'">
            <div class="top-bar">
                <h2 class="text-center title">Verification Status</h2>
            </div>
            <div class="successfully-registered">
                <h3 class="text-center successs">Code Sent Successfully. Please Check Your Email.</h3>
            </div>
        </ng-container>
    </div>
</div>

<ng-template #sendCodeAgainTemplete>
    <form #setPassForm="ngForm" (ngSubmit)="setPassFunc(setPassForm.form)">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <label class="mb-0">Email / Username<span class="mendatory">*</span></label>
                    <input type="email" class="fadeIn" ngModel name="email" required placeholder="Enter Email / Username">
                    <div *ngIf="setPassForm.touched && setPassForm.controls['email'].invalid" style="font-size: 12px; color:red;">E-mail / Username is invalid</div>
                    <!-- <input formControlName="email" class="form-control mt-0" placeholder="Enter Your Email" [ngClass]="{ 'form-submitted': f.submitted }" />
                    <div *ngIf="ui.checkErrors(c.email, f)" class="errors">
                        <p *ngIf="c.email.errors?.required">Email is required</p>
                        <p *ngIf="c.email.errors?.email">Email is not valid, please enter valid email.</p>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="modal-footer text-center">
            <button type="button" class="dark" (click)="modalRef.hide()">No</button>
            <button type="submit" [disabled]="loginLoading" [ngClass]="loginLoading ? 'in-progress' : ''" class="danger ml-3">
                Yes
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </form>
</ng-template>