<!-- <section class="footer-section">
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-content-top">
                <div class="footer-content-top-items">
                    <div class="fct-logo">
                        <img src="/assets/images/logo-ConvertImage.png" alt="logo-black">
                    </div>
                    <div class="fct-text">
                        <ul>
                            <li>
                                <div class="fct-text-wrapper">
                                    <a [routerLink]="['/terms-and-conditions']">
                                        <p>{{ lang.tc }}</p>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="fct-text-wrapper">
                                    <a [routerLink]="['about-us']">
                                        <p>{{ lang.aboutUs }}</p>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="fct-text-wrapper">
                                    <a [routerLink]="['/contact-us']">
                                        <p>{{ lang.contactUs }}</p>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="fct-text-wrapper">
                                    <a [routerLink]="['how-it-works']">
                                        <p>{{ lang.howWorks }}</p>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="fct-text-wrapper">
                                    <a [routerLink]="['faqs']">
                                        <p>{{ lang.faqs }}</p>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->